@model IEnumerable<EventPlanner.Models.Venue>

@{
    ViewData["Title"] = "ManageVenue";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>ManageVenue</h1>

<p>
    <a asp-action="AddVenue">Add New Venue</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venue_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.venue_description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venue_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue_capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue_description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
