@model IEnumerable<EventPlanner.Models.UserAccount>

@{
    ViewData["Title"] = "UserRecord";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="font-family:serif; font-style:italic">UserRecord</h1>

@*<p>
    <a asp-action="Register">Create New Account</a>
</p>*@
<table class="table table-hover table-light" style="font-family:serif; font-style:italic">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmPassword)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.User_id }, new{@Class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.User_id }, new {@Class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.User_id }, new {@Class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
