@model IEnumerable<EventPlanner.Models.Menu>

@{
    ViewData["Title"] = "ManageMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ManageMenu</h1>

<p>
    <a asp-action="AddMenu">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Menu_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item_starter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item_maincourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item_dessert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu_price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Menu_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_starter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_maincourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_dessert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu_price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Menu_id}, new {@Class = "btn btn-primary" })|
                @Html.ActionLink("Details", "Details", new { id = item.Menu_id}, new {@Class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Menu_id}, new {@Class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
